main {
  display: flex;
  justify-content: center;
}

canvas {
  border: 2px solid black;
}

#foreground {
  position: absolute;
  width: 810px;
  height: 610px;
  border: 2px solid green;
  display: flex;
  justify-content: center;
}

/* .foreground {
  position: absolute;
  display: flex;
} */

.array {
  position: absolute;
  font-size: 35px;
}
